.navbar-default {
	border: 0;
	height: 80px;
	border-radius: 0;
	background-color: #3071a9;
}

.navbar-default .container-fluid {
	padding: 0;
}

.navbar-default .navbar-collapse {
	padding: 0;
}

.navbar-default	a, .navbar-default .navbar-brand {
		color: #fff;
		font-size: 30px;
		margin-left: 15px;
}

 .navbar-default .navbar-brand {
	 margin-left: 15px !important;
	 margin-top: 15px;
 }

.navbar-default	a:hover, .navbar-default .navbar-brand:hover {
		color: #ebebeb;
}

.sticky {
    /* General */
    float: left;
    margin: 10px;
    width: 200px;
    height: 25%;
    min-width: 250px;
    min-height: 250px;
    /* Font */
    font-family: 'Nothing You Could Do', Arial;
    font-size: 1.4em;
    /* Shadow */
    -webkit-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 31px -5px rgba(0,0,0,0.75);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefdca', endColorstr='#f7f381',GradientType=0 ) !important; /* IE6-9 */
}
 
 .sticky[theme='blue'] {
    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #FFFFFF -80%, #199CFF 120%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #FFFFFF -80%, #199CFF 120%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-80, #FFFFFF), color-stop(120, #199CFF));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #FFFFFF -80%, #199CFF 120%);

    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, #FFFFFF -80%, #199CFF 120%);
}

  .sticky[theme='red'] {
    /* IE10+ */ 
    background-image: -ms-linear-gradient(top, #FFFFFF -120%, #FF9812 120%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #FFFFFF -120%, #FF9812 120%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #FFFFFF -120%, #FF9812 120%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-120, #FFFFFF), color-stop(120, #FF9812));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #FFFFFF -120%, #FF9812 120%);

    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, #FFFFFF -120%, #FF9812 120%);
}

 .sticky[theme='gray'] {
    /* IE10+ */ 
    background-image: -ms-linear-gradient(top, #FFFFFF -40%, #6A7D7A 120%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(top, #FFFFFF -40%, #6A7D7A 120%);

    /* Opera */ 
    background-image: -o-linear-gradient(top, #FFFFFF -40%, #6A7D7A 120%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(-40, #FFFFFF), color-stop(120, #6A7D7A));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(top, #FFFFFF -40%, #6A7D7A 120%);

    /* W3C Markup */ 
    background-image: linear-gradient(to bottom, #FFFFFF -40%, #6A7D7A 120%);
}

 .sticky[theme='yellow'] {
    /* Background */
    background: #fefdca !important; /* Old browsers */
    background: -moz-linear-gradient(top, #fefdca 0%, #f7f381 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefdca), color-stop(100%,#f7f381)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fefdca 0%,#f7f381 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fefdca 0%,#f7f381 100%) !important; /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fefdca 0%,#f7f381 100%) !important; /* IE10+ */
    background: linear-gradient(top, #fefdca 0%,#f7f381 100%) !important; /* W3C; A catch-all for everything else */
 }


.sticky ol {
    margin: 12px;
}
 
.sticky p {
    
    display: inline-block;
    width: 100%;
    height:100%;
    margin: 0 0 0px;
}

.sticky p:focus {
   outline:none;
}

.note-header {
    width: 100%;
    height: 45px;
    background-color: #1A72CA;
}

.note-body{
    width: 100%;
    height: 71%;
    overflow: auto;
    padding-left: 5px;
    padding-top: 5px;
}

.note-body::-webkit-scrollbar{
width:16px;
background-color:#F0F0D0;
} 

.note-body::-webkit-scrollbar-thumb{
background-color:#F0F0D0;
border-radius:10px;
}

.note-body::-webkit-scrollbar-thumb{
background-color:#F0F0D0;
border:1px solid #333333;
}

.note-body::-webkit-scrollbar-track{
border:1px gray solid;
border-radius:10px;
background-color:#F9F9D9;
}
.note-header-top {
    height:24px;
}

.note-header-bottom {
    height:24px;
}
.note-theme {
    float: right;
}

.note-theme > div {
    width:14px;
    height:15px;
    float:left;
    margin-right:5px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.note-theme .blue{
    background-color: #6666ff;
}

.note-theme .red{
    background-color: #FF0033;
}

.note-theme .gray{
    background-color: gray;
}

.note-theme .yellow{
    background-color: #F9F590;
}